body {

	.no-scroll {
		overflow: hidden;
	}

	* {
		-webkit-tap-highlight-color: transparent;
	}

}

.only-desktop {

	@media #{$mobile} {
		display: none !important;
	}

}

.only-mobile {

	@media #{$desktop} {
		display: none !important;
	}
	
}
